/* Tag CSS */
/* Set <body> tag CSS */
body{
    font-family: SansSerif;
    padding: 0px;
    margin: 0px;
    border: 2px;
} /* end <body> */

/* Set <a> tag CSS*/
a{
    color: inherit;
    text-decoration: none;
} /* end <a> */

/* Set <button> tag CSS*/
button{
    cursor: pointer;
    border-style: none;
    background-color: #eeeeef;
    color: #3e3e3e;
}
button:hover{
    border: 2px solid #eeeeef;
    background-color: transparent;
    color: #eeeeef;
} /* end <button> */

/* Set <header> tag CSS*/
header{
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 90px;
    background-color: #3e3e3e;
    color: #eeeeef;
    font-size: 30px;
} /* end <header> */
/*--------------------------------------------------*/
/* Class CSS */
/* Set mainBody class CSS*/
.mainBody{
    padding: 0px;
    margin: 0px;
    border: 2px;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
} /* end mainBody class */

/* Set sideBar.navigation class CSS*/
.navigation{
    width: 270px;
    padding: 80px 0px 0px 0px;
    margin: inherit;
    border: inherit;
    text-align: center;
    list-style-type: none;
}
.navigation > li{
    padding-top: 50px;
    background-color: #3e3e3e;
    color: #eeeeef;
    font-size: 30px;
}
.navigation > li:hover{
    text-decoration: underline #eeeeef;
    background-color: #3e3e3e;
    color: #eeeeef;
} /* end navigation class */

/* Set MENU/SPECIAL MENU.menuOption class CSS*/
.menuOption{
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: left;
}
.menuOption:hover{
    cursor: pointer;
}
.menuOption > div{
    font-size: 28px;
    padding: 20px;
}
.menuOption > div > p{
    margin: 0px;
} /* end menuOption class */

/* Set CONTACT.data class CSS*/
.data{
    height: 45px;
    width: 100%;
    border-style: none;
    font-size: inherit;
    background-color: #eeeeef;
    color: #3e3e3e;
} /* end data class */

/* Set CONTACT.dataTitle class CSS*/
.dataTitle{
    padding-right: 15px;
} /* end dataTitle class */
/*--------------------------------------------------*/
/* ID CSS */
/* Set HOME id CSS*/
#HOME{
    padding: inherit;
    margin: inherit;
    text-align: center;
    color: #eeeeef;
    font-size: 85px;
}
#HOME > p{
    position: absolute;
    top: 48%; left: 50%;
    transform: translate(-50%, -110%);
}
#HOME > form{
    position: absolute;
    top: 72%; left: 50%;
    transform: translate(-50%, -110%);
}
#HOME > form > button{
    width: 270px;
    height: 90px;
    border-radius: 12px;
    font-size: 45px;
} /* end HOME id */

/* Set sideBar id CSS*/
#sideBar{
    padding: inherit;
    margin: inherit;
    border-right: 1px solid black;
    background-color: #3e3e3e;
} /* end sideBar id */

/* Set GALLERY id CSS*/
#GALLERY {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 60px;
}
#GALLERY > div{
    padding-left: 60px;
    flex: 1;
}
#GALLERY > div > p{
    margin: 0px;
} /* end GALLERY id */

/* Set MENU id CSS*/
#MENU{
    text-align: center;
}  /* end MENU id */

/* Set MENU/OFFER id CSS*/
#OFFER > p{
    position: absolute;
    top: 10%; left: 46.5%;
    transform: translate(-50%, -50%);
}
#OFFER > div{
    position: absolute;
    top: 50%; left: 49%;
    transform: translate(-50%, -50%);
} /* end OFFER id */

/* Set MENU/OFFER/offerPlain id CSS*/
#offerPlain{
    background-color: #eeeeef;
    text-align: left;
    display: grid;
    grid-template-columns: 260px 490px;
    padding-left: 60px;
    padding-top: 80px;
    padding-bottom: 60px;
    cursor: pointer;
}
#offerPlain > div{
    padding-left: 50px;
    padding-right: 100px;
}
#offerPlain > div > p{
    line-height: 45px;
    margin: 0px;
} /* end offerPlain id */

/* Set CONTACT id CSS*/
#CONTACT{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 27px;
    background-color: #3e3e3e;
    color: #eeeeef;
}
#sendContact{
    width: 160px;
    height: 50px;
    border-radius: 12px;
    font-size: 27px;
} /* end CONTACT id */