.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 30%);

    grid-auto-rows: minmax(100px, auto);
    /*grid-template-rows: 200px 300px;*/

    grid-gap: 1em;
    /*grid-row-gap: 1em;*/

    justify-content: stretch;
    align-items: stretch;

}

.wrapper > div{
    background: #eee;
    padding: 1em;
}

.wrapper> div:nth-child(odd){
    background: #ee1;
}

.navigation{
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation>li{
    padding: 1em;
    border:2px dashed #000;
}

.box0{
    grid-column: 1/4;
    grid-row: 1;
}