/* Tag CSS */
/* Set <html> tag CSS */
html {
    font-family: sans-serif;
    min-width: 1200px;
} /* end <html>*/

/* Set <body> tag CSS */
body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(236, 245, 255);
} /* end <body>*/

.numBtn {
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 10px black  ;
}

.menuBtn {
    width: 100%;
    height: 80px;
}

#numberBoard {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}

#menuBoard {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}

#deleteBtn{
    color: red;
}

#enterBtn{
    color: green;
}