/* Tag CSS */
/* Set <html> tag CSS */
html {
    font-family: sans-serif;
    min-width: 1200px;
}

/* end <html>*/

/* Set <body> tag CSS */
body {
    text-align: center;
    background-color: rgb(236, 245, 255);
}


.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* end <body>*/

.numBtn {
    width: 100%;
    height: 80px;
}

.menuBtn {
    border-radius: 8px;
    font-size: max(1.4vw, 17px);
    color: rgb(236, 245, 255);
    background-color: rgb(50, 69, 87);
    border: black solid 4px;
    height: 70px;
    width: 30%;
}

.menuBtn:hover {
    color: black;
    background-color: rgb(170, 214, 231);
}

.menuBtn:active {
    color: white;
    background-color: black;
}

#initTitle {
    font-size: max(2.3vw, 28px);
}

#numberBoard {
    margin-top: 25px;
    width: min(30%,290px);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 25px;
}

#menuBoard {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 25px;
}

#deleteBtn {
    color: red;
}

#enterBtn {
    color: green;
}

#redBtn {
    position: relative;
    margin-top: 25px;
    background-color: rgb(246, 96, 62);
    border: orangered solid 4px;
}
#returnBtn:hover{

}
#returnBtn:active{

}